# Local enviroment
.venv/
.conda/
.vscode/
get-pip.py
requirements.txt
__pycache__/

# Terraform
terraform/*terraform*

# Secrets
.keys/
.env

# Spark
spark/conf/*
!spark/conf/spark-defaults.conf

spark/events
spark/data
spark/apps

# Cassandra
cassandra/